body{background-color: black;}
#numbers{ 
    background-color: chocolate;
    height: 500px;
    width: 500px;
    padding: 10px;
    font-size: 36px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.numbers{
    width: 70px;
    height: 70px;
    font-size: 50px;
    border-radius: 35px;
    margin: 10px;
    background-color: aquamarine;
    text-align: center;

  
}
#operators{
    background-color: rgb(11, 121, 218);
}
.operators{
    font-size: 50px;
}