*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
        user-select: none;
}
#calculator{
    background-color: greenyellow;
    height: 800px;
    width: 600px;
    border: 20px;
    border-style: groove;
    border-color: goldenrod;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}

#display{
    background-color: burlywood;
    color: black;
    width: 100%;
    height: 80px;
    font-size: 50px;
    text-align: end;
    font-style: italic;
}
#buttons{
    background-color: gold;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.row1,.row2,.row3,.row4,.row5{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;

}
button{
    background-color: aquamarine;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 50px;
    height: 100px;
    width: 100px;
    flex-shrink: 1;

    
}
#title{
    margin-top: auto;
    flex-basis: 225px;
    height: 50px;
    font-size: 20px;
}
.screen{
    display: flex;
}
#back{
    background-color: rgb(163, 16, 16);
    width: 40px;
    border-radius: 0px;
    font-size: 30px;
}
.digitScreen{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

#last{
    background-color: blue;
    height: 20px;
    text-align: end;
}
